body {
   background-color: rgb(246, 240, 229);
   
   color: darkblue;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
   scroll-behavior: smooth;
}

h1 {

   color:blue;
}

p {
   font-size: .6rem;
}

.column-style {
   display: flex;
   flex-direction: column;
}