body {
   background-color: rgb(246, 240, 229);

   color: darkblue;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

   font-size: 1.2em;
}



h1 {
   color: blue;
}


.column-style {
   display: flex;
   flex-direction: column;
}